.container {
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
}

.checkbox {
    flex-basis: 20px;
    margin-right: 5px;
}

.name {
    flex-basis: 300px;
    text-align: left;
}

.description {
    flex-basis: 100%;
    text-align: left;
}

.button {
    padding: 10px;
    flex-basis: 40px;
}

.done {
    text-decoration: line-through;
    color: gray;
}