.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.inputName {
    width: 200px;
    margin-bottom: 10px;
}

.inputDescription {
    width: 400px;
    height: 100px;
    margin-bottom: 10px;
}

.button {
    width: 100px;
}